<h1> All Trips</h1>

<% @trips.each do |trip| %>
  <%=link_to trip.driver.name, driver_path(trip.driver[:id]) %> drove   <%=link_to trip.passenger.name, passenger_path(trip.passenger[:id]) %>  on <%= trip.date%>
  <%= link_to "Trip Details", trip_path(trip[:id]) %>
  <br>
<%end%>
