<h1>Trip Details</h1>

<p>
<ul>
  <li>Driver: <%=@trip.driver.name%></li>
  <li>Passenger: <%=@trip.passenger.name%></li>
  <li>Cost: <%=(@trip.cost/100.0)%></li>
  <li>Trip Rating: <%=@trip.rating%></li>
</ul>
</p>
