<h2>Passengers</h2>

<section >

  <p>Name: <%= @passenger.name%> </p>
  <p>Phone Number: <%= @passenger.phone_num%></p>

  <ul class="edit-options">
    <li>
      <%= button_to "Edit Passenger", edit_passenger_path,
      method: :get, data: { confirm: "Are you sure?" } %>
    </li>
    <li>
      <%= button_to (@passenger.deactivated.nil?) ? "Deactivate Passenger Account" : "Activate Account", passenger_deactivated_path(@passenger.id),
      method: :patch, data: { confirm: "Are you sure?" } %>
    </li>

  </ul>

</section>
