<h1>All Drivers</h1>


<% @drivers.each do |driver| %>
  <%= link_to driver.name, driver_path(driver[:id]) %>
  <%= button_to "Edit Driver", edit_driver_path(driver.id),
  method: :get, data: { confirm: "Are you sure?" } %>
  <%= button_to (driver.deactivated) ? "Activate Account" : "Deactivate Driver Account", driver_deactivated_path(driver.id),
  method: :p, data: { confirm: "Are you sure?" } %>
  <br>
<%end%>
